:root {
  --color-white: #fff;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
img {
  width: 24px;
  height: 24px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2,
h3,
p {
  margin: 0;
}
.user-avatar {
  width: 50px;
  height: 50px;
}
.main-grid {
  height: 929px;
  width: 1600px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* HEADER SECTION */
header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 1rem 0;
  padding: 0 1rem;
}

.search,
.user {
  display: flex;
  align-items: center;
}
.header-left,
.header-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.search input {
  width: 90%;
  border: none;
  background-color: #e2eef7;
  border-radius: 20px;
  height: 1.5rem;
  margin: 0 10px;
  padding: 0 10px;
}
input:focus {
  outline: none;
}
.search img:hover {
  cursor: pointer;
}
.user-display {
  margin: 0 10px;
}

.user-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3rem;
}
.header-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-btn button {
  background-color: blueviolet;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
}
.header-btn a {
  color: white;
}

/* SIDEBAR SECTION */
.sidebar-grid {
  background-color: #1992d4;
  grid-row: 1 / 3;
  height: 100%;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem 0 0 2.5rem;
}
.sidebar-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  /* margin-bottom: 3rem; */
}
.sidebar-links ul {
  padding: 0;
  margin: 0;
}
.sidebar-links ul li {
  margin: 0.5rem 0 1.5rem 0;
}
.sidebar-links ul li a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: white;
}
.filter-white {
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(105deg)
    brightness(100%) contrast(100%);
}
/*  */
main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;
  background-color: #e2eef7;
  padding: 1rem;
}

.main-dash {
  grid-column: 1 / 2;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.project-card {
  background-color: white;
  border-radius: 10px;
}
aside {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.annoucements,
.trending {
  background-color: white;
  border-radius: 10px;
  padding: 0 1.5rem;
}

.trending-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
